# No LFS tracking - videos are compressed and stored directly in Git
assets/videos/**/*.mp4 !text !filter !merge !diff
assets/videos/**/*.jpg !text !filter !merge !diff
assets/videos/**/*.jpeg !text !filter !merge !diff
assets/videos/**/*.png !text !filter !merge !diff
