<!-- View Project Hover Component -->
<!-- Usage: Include this in showcase cards for projects that have dedicated pages -->
<!-- Requirements: Add data-shuffle-hover="View Project" to parent element -->

<div class="showcase_desc_right u-hflex-right-center u-gap-xsmall">
  <div data-shuffle-hover="View Project" data-shuffle="text" data-shuffle-load="single" class="showcase_desc_text u-text-main" style="display: inline-block; width: 87px; text-align: left;">&nbsp;</div>
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 14 11" fill="none" class="showcase_desc_icon">
    <path d="M13.5869 5.20312L8.25098 10.4053L7.83301 9.97559L7.41406 9.5459L11.2529 5.80273H0V4.60254H11.2529L7.41406 0.859375L7.83301 0.429688L8.25098 0L13.5869 5.20312Z" fill="currentColor"></path>
  </svg>
</div>